<div class="form-container">
  <form action="#" class="form">
    <div class="input-group">
      <label for="u_name">Username:</label>
      <input type="text" />
    </div>
    <div class="input-group">
      <label for="u_name">Password:</label>
      <input type="password" />
    </div>
    <button>Submit</button>
  </form>
</div>
