<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="hsl(240, 87%, 38%)" />
  <meta name="description" content="Get it done with confidence" />

  <!-- --FACEBOOK-->
  <meta property="og:title" content="Appheart e-Services" />
  <meta property="og:description" content="Get it done with confidence" />
  <meta property="og:image" content="/img/appheart_logo_square.png" />
  <title>Appheart e-Services | <%=title %></title>

  <!-- FAVICONS -->
  <link
    rel="shortcut icon"
    href="/img/favicon/favicon.ico"
    type="image/x-icon"
  />

  <!-- MATERIAL ICONS -->
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="/src/css/fonts.css" />

  <!-- MANIFEST -->
  <link rel="manifest" href="/manifest.webmanifest" />

  <!-- ios Support -->
  <link rel="stylesheet" href="/img/favicon/touch/Icon-96_x_96.png" />
  <meta name="apple-mobile-web-app-status-bar" content="#676677" />

  <!-- STYLESHEET -->
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Appheart e-Services</title>
</head>
