<header class="header">
  <a href="/" class="logo">
    Appheart
    <span>e-Services</span>
  </a>

  <nav class="navbar">
    <a href="#">How To's</a>
    <a href="#">Newsletter</a>
    <a href="#">Vlogging</a>
    <a href="#">Academy</a>
  </nav>

  <div id="menu-btn"><i class="bx bx-menu"></i></div>
</header>
