<!DOCTYPE html>
<html lang="en">
  <!-- Head rendering -->
  <%-include('./partials/head.ejs')%>

  <!-- End of Head  rendering -->

  <!-- Body rendering -->
  <body>
    <!-- HEADER -->
    <%-include('./partials/header.ejs') %>
    <!-- END OF HEADER -->

    <!-- MAIN -->
    <main class="main">
      <div class="services cards">
        <div class="service card">
          <h3>Clearance Processing</h3>
        </div>
        <div class="service card">
          <h3>Term papers</h3>
        </div>
        <div class="service card">
          <h3>Assignments</h3>
        </div>
        <div class="service card">
          <h3>Projects</h3>
        </div>
        <div class="service card">
          <h3>Data Analysis</h3>
        </div>
        <div class="service card">
          <h3>Fix and Repairs</h3>
        </div>
      </div>
    </main>
    <!-- END OF MAIN -->

    <!-- FOOTER -->
    <%-include('./partials/footer.ejs')%>
    <!-- END OF FOOTER -->

    <!-- UTILITIES -->
    <!-- <div class="splash-screen">
      <div class="content">
        <div class="brand">APPHEART e-Services</div>
        <div class="tag-line">Get it done with confidence</div>
        <button>Get started</button>
      </div>
    </div> -->

    <!-- END OF UTILITIES -->
  </body>
  <!-- End of Body rendering -->

  <script src="/js/script.js"></script>
</html>
